@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,500&display=swap');

body {
    background-color: rgb(46, 43, 43);
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
}

a {
    text-decoration: none;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 30px;
    font-weight: 400;
    font-size: 22px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.header_block-main--size {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.header_nav, .header_contact, .header_title {
    color: white;
    margin-right: 2%;
    margin-left: 2%;
}

.header_block-main--size-contact {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.content {
    margin-top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.content_description {
    font-weight: 500;
    font-size: 44px;
}

.content_photo {
    width: 20%;
    height: 300px;
    border-radius: 30px;
    -webkit-box-shadow: 3px 3px , -.5em 0 .8em;
            box-shadow: 3px 3px , -.5em 0 .8em;
}

.content_greeting {
    color: #BCBCBC;
    font-size: 28px;
}

.content_greeting, .content_greet {
    margin-top: 30px;
}

/* Проекти */

.headline {
    font-size: 64px;
    line-height: 96px;
    margin-top: 10%;
    margin-left: 50px;
}

.project {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 10% 45%;
    grid-template-columns: repeat(2, 45%);
    -webkit-column-gap: 10%;
       -moz-column-gap: 10%;
            column-gap: 10%; 
    row-gap: 80px;
    margin-top: 5%;
}

.project_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 200;
}

.project_title {
    font-size: 28px;
    margin-top: 10px;
}

.project_description {
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.project_open {
    margin-top: 10px;
    margin-bottom: 10px;
	padding: 0 25px;
    height: 48px;
    width: 25%;
    font-size: 22px;
    border: none;
	border-radius: 50px;
	color: #262626;
	background-color: #fff;
	-webkit-box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	        box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	-webkit-transition: -webkit-box-shadow 0.2s;
	transition: -webkit-box-shadow 0.2s;
	-o-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
	transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}
.project_open:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.project_open:hover {
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
    background-color: #444;
	-webkit-box-shadow: 0 7px 14px rgba(239, 241, 242, 0.13), 0 3px 6px rgba(163, 159, 159, 0.08);
	        box-shadow: 0 7px 14px rgba(239, 241, 242, 0.13), 0 3px 6px rgba(163, 159, 159, 0.08);
}
.project_open:active {
	background-color: #808080;
}
.project_open:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}

.technol {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 30px;
}

.technol, .technologies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.technologies_skill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
}

.technologies_name {
    font-size: 28px;
}

.technologies_look {
    background: #162950;
    height: 28px;
    border-radius: 83px;
    margin-top: 5px;
}

.technologies_in_look {
    height: 100%;
    width: 75%;
    border-radius: 83px;
    background: -webkit-gradient(linear, right top, left top, from(#13ADC7), color-stop(66.67%, #6978D1), to(#945DD6));
    background: -o-linear-gradient(right, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
}

.technologies_in_look--middle {
    width: 65%;
}

.technologies_in_look--small {
    width: 25%;
}

.skills {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 30px;
}

.skills_additional {
    font-size: 28px;
    margin: 30px 0;
}

.skill {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 28% 8% 28% 8% 28%;
    grid-template-columns: repeat(3, 28%);
    -webkit-column-gap: 8%;
       -moz-column-gap: 8%;
            column-gap: 8%;
    row-gap: 30px;
}

.skill_name {
    text-align: center;
    font-size: 22px;
}

.skill_name::before {
    content: '\2234';
    margin-right: 5px;
}

.about-me_description {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-indent: 25px;
    font-size: 24px;
    line-height: 44px;
}

.footer_contact {
    width: 200px;
}

.footer {
    margin-top: 50px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 32px;
}

.email {
    font-size: 18px;
}

@media (max-width: 720px) {
    body {
        font-size: 16px;
        margin: 0;
        width: 100vw;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .header, .header_block-main--size {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 1rem;
    }

    .header_block-main--size {
        margin: 1rem 0;
    }

    .header_nav {
        margin: 0.2rem 0;
    }

    .header_contact {
        margin: 0 0.2rem;
        color:#13ADC7;
        font-size: 1.5rem;
    }

    .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 1rem;
    }

    .content_greet {
        font-weight: 200;
        font-size: 1rem;
        margin-top: 1rem;
        text-align: center;
    }

    .content_greeting {
        font-size: .8rem;
        margin-top: .8rem;
    }

    .content_photo {
        height: auto;
        width: 30%;
        margin-top: 1rem;
    }

    .headline {
        color:#13ADC7;
        font-size: 1.3rem;
        line-height: 1.5rem;
        margin-top: 2rem;
        margin-left: 0;
        text-align: center;
    }
    .project, .skill {
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        row-gap: 1%;
        -webkit-column-gap: 0;
           -moz-column-gap: 0;
                column-gap: 0;
    }

    .project_title {
        font-size: 1rem;
        margin-top: 0;
    }

    .project_description {
        font-size: .8rem;
        margin: .6rem 0;
        text-align: center;
    }

    .project_open {
        font-size: 1rem;
        height: 2rem;
        width: 60%;
    }

    #technologies {
        margin-top: 4rem;
        margin-bottom: 0;
    }

    .technol {
        margin-top: 0;
    }

    .technologies_name {
        font-size: .9rem;
    }

    .technologies_value {
        font-size: .7rem;
    }

    .technol {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .skills_additional {
        font-size: 1rem;
        text-align: center;
    }

    .skill_name {
        font-size: .9rem;
        text-align: left;
    }

    .skill {
        row-gap: 20px;
    }

    .about-me_description {
        font-size: 1rem;
        font-weight: 100;
        line-height: 1.2rem;
        text-align: center;
        margin-top: 20px;
    }

    .footer_contact {
        width: 110px;
    }

    .footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 20px;
    }

    .email {
        font-size: 1rem;
        color: white;
    }
}
